{% extends 'base.html' %}

{% block content %}
    <div class="col">

        <h2>Login</h2>

        <!-- Formulario -->
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Login</
            
        </form>

    </div>
{% endblock %}

