{% extends 'base.html' %}

{% block content %}
<div class="col">
    {% include 'products/snippets/search.html' with query=query %}
    <hr>
    <p>Resultados para: {{ query }} ({{ count }})</p>

    {% include 'products/snippets/list.html' %}

</div>
{% endblock %}