<li class="nav-item dropdown" >
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIAS</a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="productos/search?q=Remeras">Remeras</a>
    <a class="dropdown-item" href="productos/search?q=reloj">Reloj</a>
    <a class="dropdown-item" href="productos/search?q=mochilas">Mochilas</a>
    <a class="dropdown-item" href="productos/search?q=zapatillas">Zapatillas</a>

    <!-- {% for category in categories %}
      <a class="dropdown-item" href="#">{{ category }}</a>
    {% endfor %} -->
  </div>
</li>