{% extends 'base.html' %}
{% load product_extras %}


{% block content %}

    {% if cart.products.exists %}
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.products_related %}
                        {% with product=cp.product %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <th>
                                    {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="Imagen del producto" width="60" height="60">
                                    {% endif %}
                                </th>
                                <th>
                                    <a href="{% url 'products:product' product.slug %}">{{ product.title }}</a>
                                    {% include 'carts/snippets/remove.html' %}
                                </th>
                                <th>{{ cp.quantity }}</th>
                                <th>
                                    <span class="font-weight-bold text-danger">{{ product.price | price_format }}</span>
                                </th>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="font-weight-bold">
                        Total({{ cart.products.count }}): <span class="text-danger">{{ cart.subtotal | price_format }}</span>
                    </div>
                    <div class="mt-2">
                        <a href="{% url 'orders:order' %}" class="btn btn-warning">Proceder al pago</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col">
            <p class="h3">Tu carrito de compras está vacío.</p>
            <a href="{% url 'index' %}">Seguir comprando</a>
        </div>
    {% endif %}
{% endblock %}

