{% extends 'base.html' %}

{% block content %}
    
    <div class="col">
        <h2 class="text mt-4">ACERCA DE NOSOTROS</h2>
        
        <br>
        <p class="text mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laboriosam ipsum placeat voluptatem quidem fugiat minus fuga vitae atque magnam enim labore quas, error quia officia nulla, iste, cumque dolores!</p>
        
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit itaque aliquid perspiciatis maxime architecto magnam voluptas doloribus delectus distinctio reprehenderit id, accusantium incidunt temporibus repudiandae laudantium mollitia, modi quia inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nulla quae eum omnis, illo maiores labore vitae suscipit provident deleniti quos doloremque sit, laudantium velit libero iusto? Culpa, et quae! </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non animi dolore necessitatibus ab. Quod ullam eveniet accusamus optio dolorum qui reiciendis ut harum, molestias explicabo esse praesentium provident ex magni. </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis labore ipsa, ratione enim eum tenetur quasi eius deserunt magni quia fugiat id, alias asperiores, saepe dolores nobis architecto repudiandae eaque. </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio consequatur voluptatem ipsa blanditiis impedit deserunt, corporis amet temporibus itaque, porro nulla architecto. Placeat aut modi unde totam animi nihil perspiciatis!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam alias, aliquid error repudiandae in a repellendus voluptatum praesentium adipisci exercitationem vero sint numquam fugit aperiam quod iste ab fugiat?</p>
        
    </div>

{% endblock %}