{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Tienda</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    </head>
    <body style="height: 100%;">

        {% include 'brand.html' %}
        {% include 'navbar.html' %}

        <div class="container">
            
            {% include 'messages.html' %}

            <div class="row mt-4">

                {% block content %}
                {% endblock %}

            </div>
        </div>
        <div class="display box mt-5">
            <p style="color: white;">s</p>
        </div>
        <div class="display box mt-5">
            <p style="color: white;">l</p>
        </div>
        <div class="display box mt-5">
            <p style="color: white;">t</p>
        </div>
        <div class="display box mt-5">
            <p style="color: white;">u</p>
        </div>
        <div class="display box mt-5">
            <p style="color: white;">u</p>
        </div>
        <div class="display box mt-1">
            <p style="color: white;">u</p>
        </div>
        
        <footer class="footer py-3 bg-dark">
            {% include 'footer.html' %}            
        </footer>

    </body>

    <script src="https://kit.fontawesome.com/7efd9e34c5.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</html>