{% url 'login' as login %}
{% url 'register' as register %}
{% url 'carts:cart' as cart %}

<nav class="navbar navbar-expand-md bg-white navbar-white">
    <a href="{% url 'index' %}" class="navbar-brand text-weight-bold">Jaguarete Store</a>

    <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div id="navb" class="navbar-collapse collapse hide">

        <ul class="nav navbar-nav ml-auto ">

            <li class="nav-item {% if request.path == cart %}active{% endif %}">
                <a href="{{ cart }}" class="btn btn-primary">
                    Mi carrito <span class="fas fa-shopping-cart"></span>
                </a>
            </li>

            {% if user.is_authenticated %}
                <li class="navbar-item">
                    <a href="{% url 'logout' %}" class="btn btn-primary ml-2">
                        <span class="fas fa-sign-in-alt"></span>
                        Logout</a>
                </li>
            {% else %}
                <li class="navbar-item {% if request.path == login %}active{% endif %}">
                    <a href="{{ login }}" class="btn btn-primary ml-2">
                        <span class="fas fa-user"></span>
                        Login</a>
                </li>

                <li class="navbar-item {% if request.path == register %}active{% endif %}">
                    <a href="{{ register }}" class="btn btn-primary ml-2">
                        <span class="fas fa-user-plus"></span>
                        Registro</a>
                </li>
            {% endif %}

        </ul>

    </div>

</nav>