<div class="container mt-2" >
  <span style="color: lightgray;">© Copyright 2021 Jaguarete Kaa SA, todos los derechos reservados. </span>
    <span class="m-auto" style="color: lightgray;">Designed by Luciano Morán Martin</span>
</div>
