{% extends 'base.html' %}

{% block content %}
    
    <div class="col">
        <h4 class="text-center"> {{ message }} </h4>
        
        
        {% include 'products/snippets/list.html' %}
        
    </div>

{% endblock %}
