<!-- {% url 'login' as login %}
{% url 'register' as register %}
{% url 'carts:cart' as cart %} -->
{% url 'index' as index %}
{% url 'categories:categoria' as categorias %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <ul class="nav navbar-nav">
        <li class="nav-item" {% if request.path == index %}active{% endif %}>
          <a class="nav-link" href="{% url 'index' %}">HOME</a>
        </li>

        {% include 'Categories/categoria.html'%}
        

        <li class="nav-item" {% if request.path == cart %}active{% endif %}>
          <a class="nav-link" href="{% url 'acerca_de' %}">ACERCA DE...</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="mailto:jaguareteKaa@gmail.com">CONTACTO</a>
        </li>

        {% if user.is_superuser %}
            <li class="navbar-item">
                <a href="{% url 'newproducts' %}" class="nav-link text-weight-bold">NUEVO PRODUCTO</a>
            </li>
        {% endif %}

    </ul>
    <ul class="nav navbar-nav ml-auto ">
        {% include 'products/snippets/search.html' %}
    </ul>


    <!-- <button type="button" name="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div id="navb" class="navbar-collapse collapse hide">

        <ul class="navbar-nav">
            <li class="nav-item {% if request.path == cart %}active{% endif %}">
                <a class="nav-link" href="{{ cart }}">
                    Mi carrito <span class="fas fa-shopping-cart"></span>
                </a>
            </li>

        </ul>

        <ul class="nav navbar-nav ml-auto">

            {% if user.is_authenticated %}
                <li class="navbar-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <span class="fas fa-sign-in-alt"></span>
                        Logout</a>
                </li>
            {% else %}
                <li class="navbar-item {% if request.path == login %}active{% endif %}">
                    <a href="{{ login }}" class="nav-link">
                        <span class="fas fa-user"></span>
                        Login</a>
                </li>

                <li class="navbar-item {% if request.path == register %}active{% endif %}">
                    <a href="{{ register }}" class="nav-link">
                        <span class="fas fa-user-plus"></span>
                        Registro</a>
                </li>
            {% endif %}

        </ul>

    </div> -->

</nav>