{% extends 'base.html' %}

{% block content %}

    <div class="col">

        <h1 class="text-center"><strong>NUEVO PRODUCTO</strong></h1><br>

        <!-- Formulario -->
        <div class="row">
            <div class="col">
             
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
               
                    {{ form.title }}
                                  
                    <!-- Categorias:{{ form.categoria }} -->
                  
                    {{ form.image }}
                  
                    {{ form.description }}
                                      
                    Precio: ${{ form.price }}
                  
                    <button type="submit" class="btn btn-primary btn-block">Cargar</button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}