{% extends 'base.html' %}

{% block content %}
    <div class="container py-5">
        {% if messages %}
            {% for message in messages %}

                <div class="alert {% if message.tags == 'error'%}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>   
            {% endfor %}
        {% endif %}
    
        <h1 style="text-align: center;"><strong>NUEVO PRODUCTO</strong></h1><br>
        <div class="row">
            <div class="col">
             
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
               
                    {{ form.titulo }}
                                  
                    Categorias:{{ form.categoria }}
                  
                    {{ form.imagen }}
                  
                    {{ form.descripcion }}
                                      
                    Precio: ${{ form.precio }}
                  
                    <button type="submit" class="btn btn-primary btn-block">Cargar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
    