*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    
}

footer{
    align-self: flex-end;
    text-align: center;
    width: 100%;
}