<div class="row">
    {% for object in product_list %}
        {% if forloop.counter < 4 %}
            <div class="col-4 mt-5">
                {% include 'products/snippets/product.html' with product=object %}
            </div>

        {% elif forloop.counter == 4 %}
            <br>
            <h3 class="mt-5"><ins>Más productos</ins></h3>
            
                {% include 'products/snippets/product_others.html' with product=object %}

        {% else %}

                {% include 'products/snippets/product_others.html' with product=object %}

          
        {% endif %}
        
    {% endfor %}
</div>