<a href="{% url 'products:product' product.slug %}" class="list-group-item list-group-item-action mt-3 mb-3">
    <img src="{{ product.image.url }}" width="100px">&nbsp;
    <strong>{{ product.title }}</strong><br>
    {{ product.description }}
  </a><br>
