<!-- Product hasta 3 -->
<div class="card h-100 ">

    {% if product.image %}
        <img src="{{ product.image.url }}" alt="Imagen del producto" height="300" >
    {% endif %}

    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <a href="{% url 'products:product' product.slug %}" class="btn btn-primary">Ver más</a>
    </div>
</div>