<form action="{% url 'products:search' %}">
    <div class="input-group">
        <input type="text" name="q" value="{{ query }}" class="form-control" palceholder="Buscar">
        <div class="input-group-append">
            <input type="submit" name="" value="Buscar" class="btn btn-primary">
        </div>
    </div>

</form>